
.sideMenu{
   display: grid;
    grid-template-rows: repeat(auto,1fr);
   grid-template-columns: repeat(2,1fr); 
  gap: 10px;

/* padding: 50px 0px 10px 10px; */
   
    height: 100px;
    width: 30%;
  /* border: 1px solid red; */
  margin-top: 50px; 
  /* background-color: aliceblue; */

    /* margin-left: 50px;

    background-color: white;
   
}
.img_thumbnail{
    height: 100px;
    width: 100px;

    /* border: 1px solid black; */
  
}
.tittle>p{
 /* margin-left: 20px; */
 width: 100%;

}